* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a0000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.container {
    display: flex;
    background-color: #57353F;
    border-radius: 10px;
    overflow: hidden;
    width: 500px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D0D10;
}

.icon {
    
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



img {
    position: absolute;
    top: 10px;
    left:20px;
    font-size: 40px;
    color: #000000;
}

.right {
    flex: 1;
    padding: 20px;
    color: #0a0a0a;
    position: relative;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #333;
}

.wand-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.wand {
    font-size: 24px;
    color: #0f0f0f;
}
